<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="@{layout/defaultAdmin}">

<th:block layout:fragment="customTitle">
	<title>오프라인 예약 등록</title>
</th:block>

<th:block layout:fragment="customCss">

</th:block>
               
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<h1 class="m-0 text-dark">오프라인 예약 등록</h1>
		</div><!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="card  card-white">				
						<!-- /.card-header -->
						<div class="card-header">
							
							<!-- Book Search Form -->
							<div class="row">
								<div class="col-sm-2">			                
									<a>도서 제목</a>																							               																																				
								</div>	
								<!-- SEARCH FORM -->
								<div class="col-sm-10">	                     	
									<div class="input-group input-group-sm">
										<input class="form-control" type="search" placeholder="Book Name" aria-label="Search" id="searchBookLibraryCode">
										<div class="input-group-append">
											<button class="btn btn-navbar" type="submit" id="searchBook">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<!-- /.card-header -->
					
						<!-- card-body -->	
						<div class="card-body">
							<!-- form start -->
							<form class="form-horizontal">
								<div class="form-group row">
									<label for="inputEmail3" class="col-sm-2 col-form-label">도서 코드</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Book Code" id="bookCode">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputEmail3" class="col-sm-2 col-form-label">ISBN</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="ISBN" id="bookIsbn">
									</div>	
								</div>
								<div class="form-group row">
									<label for="inputEmail3" class="col-sm-2 col-form-label">청구기호</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Library Book Code" id="bookLibraryCode">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-2 col-form-label">도서이름</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Book Name" id="bookName">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-2 col-form-label">출판사</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Publisher Code" id="publisher">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-2 col-form-label">저자</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" placeholder="Writer Name" id="writer">
									</div>
									<label for="inputPassword3" class="col-sm-2 col-form-label">가격</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" placeholder="Book Price" id="bookPrice">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-2 col-form-label">출간날짜</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Book Publish Date" id="bookPublishDate">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">도서상태</label>
										<div class="col-sm-2">
											<button type="button" class="fc-today-button btn btn-primary" id="bookSituation"></button>
										</div>
									<label class="col-sm-2 col-form-label">예약상태</label>
									<div class="col-sm-2">
										<button type="button" class="fc-today-button btn btn-primary" id="bookReservePossible"></button>
									</div>
									<label class="col-sm-2 col-form-label">예약 권수</label>
									<div class="col-sm-2">
										<button type="button" class="fc-today-button btn btn-primary" id="bookReserveCount"></button>
									</div>
								</div>                 
							</form>
						<!-- /.card-body -->
						</div>
					<!-- /.card -->
					</div>
				</div>
					
				<div class="col-md-6">				
					<!-- Book Serch Form -->
					<div class="card card-white">
						<div class="card-header">
							<div class="row">
								<div class="col-sm-2">			                
									<a>회원 아이디</a>																							               																																				
								</div>	
								
								<!-- SEARCH FORM -->
								<div class="col-sm-10">		                     	
									<div class="input-group input-group-sm">
										<input class="form-control" type="search" placeholder="Member Id" aria-label="Search" id="searchMemberId" name="memberId">
										<div class="input-group-append">
											<button class="btn btn-navbar" type="submit" id="searchMember">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>		                    
						<!-- /.card-header -->
						</div>
						
					<!-- form start -->
						<div class="card-body">
							<!-- form start -->
							<form class="form-horizontal">
								<div class="form-group row">
									<label for="inputEmail3" class="col-sm-2 col-form-label">회원 아이디</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Member Id" id="memberId">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputEmail3" class="col-sm-2 col-form-label">회원 이름</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Member Name" id="memberName">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputEmail3" class="col-sm-2 col-form-label">생년 월일</label>
									<div class="col-sm-10">
										<input type="Date" class="form-control" placeholder="Member birth" id="memberBirth">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-2 col-form-label">회원 레벨</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Member Level" id="levelCode">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-2 col-form-label">주소</label>
									<div class="col-sm-10">
										<input type="email" class="form-control" placeholder="Member Address" id="memberAddress">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-2 col-form-label">전화번호</label>
									<div class="col-sm-10">
										<input type="email" class="form-control" placeholder="Member Tel" id="memberTel">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-2 col-form-label">이메일</label>
									<div class="col-sm-10">
										<input type="email" class="form-control" placeholder="Member Email" id="memberEmail">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-2 col-form-label">현재대여</label>
									<div class="col-sm-1">
										<button type="button" class="fc-today-button btn btn-danger" id="rentCount"></button>
									</div>
									<label for="inputPassword3" class="col-sm-3 col-form-label">예약가능 여부</label>
									<div class="col-sm-2">
										<button type="button" class="fc-today-button btn btn-danger" id="memberReservePossible"></button>
									</div>
									<label for="inputPassword3" class="col-sm-3 col-form-label">예약가능권수</label> 
									<div class="col-sm-1">
										<button type="button" class="fc-today-button btn btn-danger" id="reserveCount"></button>  
									</div>             
								 </div>	            
							</form>
						<!-- /.card-body -->
						</div>
					<!-- /.card -->
					</div>
				<!-- /.col -->
				</div>
			<!-- /.row -->
			</div>
			
			<div class="row">
				<div class="col-md-12" style="text-align: center">				
					<button type="button" class="fc-today-button btn btn-info" data-toggle="modal" data-target="#modal-primary">예약하기</button>			
				</div>
			</div>
				
			<!-- moadal -->
			<div class="modal fade" id="modal-primary">
				<div class="modal-dialog">
					<div class="modal-content bg-default">
						<div class="modal-header">
							<h4 class="modal-title">예약관리</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>예약 하시겠습니까?</p>
						</div>
						<div class="modal-footer justify-content-between">
							<button type="button" class="btn" data-dismiss="modal">Close</button>
							<button type="button" class="btn">예약하기</button>
						</div>
					<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				<!-- /.modal -->
				</div>
			</div>
		</div>	
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="customFooterScript">	
<script>
	$(function(){
		$('#searchMember').on('click',function(){
			var value = $('#searchMemberId').val();
			console.log(value);
			var request = $.ajax({
	  			  url: "/reseve/getSelectMember",
	  			  method: "get",
	  			  data: { memberId : value },
	  			  dataType: "json"
	  			});
	  			 
	  			request.done(function( data ) {
	  				console.log(JSON.stringify(data) + " <- ajax");
	  				$('#memberId').val(data.memberId);
	  				$('#memberName').val(data.memberName);
	  				$('#memberBirth').val(data.memberBirth);
	  				if(data.levelCode == '6'){
		  				$('#levelCode').val('일반회원');
	  				}
	  				$('#memberAddress').val(data.memberAddress);
	  				$('#memberTel').val(data.memberTel);
	  				$('#memberEmail').val(data.memberTel);
	  				$('#rentCount').val(data.rentCount);
	  				$('#rentCount').html(data.rentCount);
	  				if(data.reserveCount == 3){
		  				$('#memberReservePossible').val('예약불가');
		  				$('#memberReservePossible').html('예약불가');
	  					
	  				}else{
		  				$('#memberReservePossible').val('예약가능');
		  				$('#memberReservePossible').html('가능');
	  				}
	  				$('#reserveCount').val(3-data.reserveCount);
	  				$('#reserveCount').html(3-data.reserveCount);
	  			});
	  			 
	  			request.fail(function( jqXHR, textStatus ) {
	  			  alert( "요청에 실패하였습니다. :  " + textStatus );
	  			});
		});
		$('#searchBook').on('click',function(){
			var value = $('#searchBookLibraryCode').val();
			var library = "library_01";
			console.log(value);
			console.log(library);
			var request = $.ajax({
	  			  url: "/reseve/getSelectBook",
	  			  method: "get",
	  			  data: { bookName : value, libraryCode : library},
	  			  dataType: "json"
	  			});
	  			 
	  			request.done(function( data ) {
	  				console.log(JSON.stringify(data) + " <- ajax");
	  				$('#bookCode').val(data.bookCode);
	  				$('#bookIsbn').val(data.bookIsbn);
	  				$('#bookLibraryCode').val(data.bookLibraryCode);
	  				$('#bookName').val(data.bookName);
	  				$('#publisher').val(data.publisher);
	  				$('#writer').val(data.writer);
	  				$('#bookPrice').val(data.bookPrice);
	  				$('#bookPublishDate').val(data.bookPublishDate);
	  				if(data.bookSituation == '보유 중'){
		  				$('#bookSituation').val(data.bookSituation);
		  				$('#bookSituation').html(data.bookSituation);
		  				$('#bookReservePossible').val('불가');
		  				$('#bookReservePossible').html('불가');
		  				$('#bookReserveCount').val('0');
		  				$('#bookReserveCount').html('0');
	  				}else{
	  					if(data.reserveCount < 2){
		  					$('#bookSituation').val(data.bookSituation);
			  				$('#bookSituation').html(data.bookSituation);
			  				$('#bookReservePossible').val('가능');
			  				$('#bookReservePossible').html('가능');
			  				$('#bookReserveCount').val(data.reserveCount);
			  				$('#bookReserveCount').html(data.reserveCount);
	  					}else{
		  					$('#bookSituation').val(data.bookSituation);
			  				$('#bookSituation').html(data.bookSituation);
			  				$('#bookReservePossible').val('불가');
			  				$('#bookReservePossible').html('불가');
			  				$('#bookReserveCount').val(data.reserveCount);
			  				$('#bookReserveCount').html(data.reserveCount);
	  					}
	  				}
	  			});
	  			 
	  			request.fail(function( jqXHR, textStatus ) {
	  			  alert( "요청에 실패하였습니다. :  " + textStatus );
	  			});
		});
	});
</script>
</th:block>
</html>