<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/defaultAdmin}">

	<th:block layout:fragment="customTitle">
		<title>도서평 목록</title>
	</th:block>

	<th:block layout:fragment="customContents">
		<div class="content-wrapper">
		 	<section class="content-header">
				<h1>도서평 목록</h1>
			</section>
		<section class="content">
		
			<div class="card card-info">
	            <div class="card-header">
	              <h3 class="card-title">Files</h3>
	            </div>
	            <div class="card-body p-0">
	              <table class="table">
	                <thead>
	                  <tr>
	                    <th>도서명</th>
	                    <th>도서평 내용</th>
	                    <th>작성자</th>
	                  </tr>
	                </thead>
	                <tbody>
	            		<tr>
		                    <td>도서명1</td>
		                    <td>도서평내용입니다.</td>
		                    <td>아이디1</td>
		                    <td class="text-right py-0 align-middle">
		                        <a href="#" class="btn btn-info">수정</a>
		                        <a href="#" class="btn btn-danger">삭제</a>
		                    </td>
	                  	</tr>
	                  	<tr>
		                    <td>도서명2</td>
		                    <td>도서평내용입니다.</td>
		                    <td>아이디1</td>
		                    <td class="text-right py-0 align-middle">
		                        <a href="#" class="btn btn-info">수정</a>
		                        <a href="#" class="btn btn-danger">삭제</a>
		                    </td>
	                  	</tr>
	                  	<tr>
		                    <td>도서명3</td>
		                    <td>도서평내용입니다.</td>
		                    <td>아이디1</td>
		                    <td class="text-right py-0 align-middle">
		                        <a href="#" class="btn btn-info">수정</a>
		                        <a href="#" class="btn btn-danger">삭제</a>
		                    </td>
	                	</tr>
	                </tbody>
	              </table>
	            </div>
	            <!-- /.card-body -->
	          </div>
          </section>	
         </div> 
	</th:block>
	
	
	
</html>