<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/defaultAdmin}">

	<th:block layout:fragment="customTitle">
		<title>도서평 수정</title>
	</th:block>

	<th:block layout:fragment="customContents">
		<div class="content-wrapper">
		 	<section class="content-header">
				<div class="register-logo">
					<a>도서평 수정</a>
				</div>
			</section>
			<section class="content">
				<div class="card card-primary">
            <div class="card-body">
            	<form action="#">
					<div class="form-group">
						<label for="inputName">도서명</label>
						<input type="text" id="inputName" class="form-control" value="AdminLTE" disabled>
					</div>
					<div class="form-group">
						<label for="inputClientCompany">작성자</label>
						<input type="text" id="inputClientCompany" class="form-control" value="Deveint Inc" disabled>
					</div>
					<div class="form-group">
						<label for="inputDescription">도서평 내용</label>
						<textarea id="inputDescription" class="form-control" rows="4">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</textarea>
					</div>
					<div>
						<input type="submit" value="도서평 수정" class="btn btn-success float-right">
					</div>
            	</form>	
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
         	</section>	
         </div> 
	</th:block>
	
	
	
</html>