<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/defaultAdmin}">

	<th:block layout:fragment="customTitle">
		<title>도서평 리스트</title>
	</th:block>

	<th:block layout:fragment="customContents">
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<h1 class="m-0 text-dark">도서평 리스트</h1>
				</div>
				 <!-- Main content -->
			</div>
		    <section class="content">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">jsGrid</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<div id="jsGrid1"></div>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
		    </section>
		    <!-- /.content -->
		</div>
	</th:block>
	
	<th:block layout:fragment="customFooterScript">
		<script src="../../plugins/jsgrid/demos/db.js"></script>
		<script src="../../plugins/jsgrid/jsgrid.min.js"></script>
		<!-- jsGrid -->
		<script src="../../plugins/jsgrid/demos/db.js"></script>
		<script src="../../plugins/jsgrid/jsgrid.min.js"></script>
		<!-- page script -->
		<script>
			$(function () {
				$("#jsGrid1").jsGrid({
				    height: "100%",
				    width: "100%",
				
				    sorting: true,
				    paging: true,
				
				    data: db.clients,
				
				    fields: [
				        { name: "Name", type: "text", width: 150 },
				        { name: "Age", type: "number", width: 50 },
				        { name: "Address", type: "text", width: 200 },
				        { name: "Country", type: "select", items: db.countries, valueField: "Id", textField: "Name" },
				        { name: "Married", type: "checkbox", title: "Is Married" }
				    ]
				});
			});
		</script>
	</th:block>
	
	
</html>