<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="team1.project.mapper.ApplyMapper">
 	
 	<resultMap type="Apply" id="applyResultMap">
 		<result property="applyCode" column="apply_code"/>
 		<result property="memberId" column="member_id"/>
 		<result property="library" column="library_name"/>
 		<result property="bookName" column="book_name"/>
 		<result property="bookIsbn" column="book_ISBN"/>
 		<result property="applyPublishDate" column="apply_publish_date"/>
 		<result property="applyPublisher" column="apply_publisher"/>
 		<result property="applyWriter" column="apply_writer"/>
 		<result property="applyRegDate" column="apply_reg_date"/>	
 		<result property="applyPrice" column="apply_price"/>	
 		<result property="applySituation" column="apply_situation"/>	
 	</resultMap>
 	
 	<select id="officeApplyList" resultMap="applyResultMap" parameterType="String">
 		SELECT
			book_name
			,book_ISBN
			,member_id
			,apply_price
			,apply_reg_date
			,apply_situation
		FROM
			tb_book_apply
 	</select>
 	
 	<select id="myApplyList" resultMap="applyResultMap" parameterType="String">
 	SELECT
		a.apply_code
		, l.library_name
		, a.member_id
		, a.book_name
		, a.book_ISBN
		, a.apply_publish_date
		, a.apply_publisher
		, a.apply_writer
		, a.apply_reg_date
	FROM 
		tb_book_apply AS a
		INNER JOIN
		tb_library AS l
	ON
		a.library_code = l.library_code
	AND
		member_id = #{SID}
 	</select>
 	
 	<!-- <select id="addApplyCodeMax" resultType="int">
 		SELECT 
 			MAX(CAST(SUBSTRING(g_code,7) AS DECIMAL)) as maxcol 
		FROM tb_goods
 	</select>  자동증가 일단 보류..-->
 	
	<insert id="addBookApply" parameterType="team1.project.vo.Apply">
		<selectKey keyProperty="applyCode" resultType="String" order="BEFORE">
		<![CDATA[
			SELECT 
			   (case 
			   when COUNT(*) = 0 then 'apply_0001'
			   when COUNT(*) < 10 then CONCAT('apply_000',(max(SUBSTRING(apply_code,7))+1))
			   when COUNT(*) < 100 then CONCAT('apply_00',(max(SUBSTRING(apply_code,7))+1))
			   when COUNT(*) < 1000 then CONCAT('apply_0',(max(SUBSTRING(apply_code,7))+1))
			   ELSE CONCAT('apply_',(max(SUBSTRING(apply_code,7))+1))
			   END) AS apply_code
			FROM
		   		tb_book_apply
		]]>
		</selectKey>
		INSERT INTO tb_book_apply(
			apply_code
			, library_code
			, member_id
			, book_name
			, book_ISBN
			, apply_price
			, apply_publish_date
			, apply_publisher
			, apply_writer
			, apply_reg_date
			)VALUE(
			#{applyCode}
			, #{library}
			, #{memberId}
			, #{bookName}
			, #{bookIsbn}
			, #{applyPrice}
			, #{applyPublishDate}
			, #{applyPublisher}
			, #{applyWriter}
			, NOW()
			)	
	</insert> 
	
 
 </mapper>