<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team1.project.mapper.LoginMapper">

	<resultMap type="Member" id="memberSelect">
		<result property="memberId" column="member_id"/>
		<result property="memberPw" column="member_pw"/>
		<result property="memberName" column="member_name"/>
		<result property="memberBirth" column="member_birth"/>
		<result property="levelCode" column="level_code"/>
		<result property="memberAddress" column="member_address"/>
		<result property="memberTel" column="member_tel"/>
		<result property="memberEmail" column="member_email"/>
		<result property="libraryCode" column="library_code"/>
		<result property="rentCount" column="rent_count"/>
		<result property="reserveCount" column="reserve_count"/>
		<result property="reviewCount" column="review_count"/>
		<result property="warningCount" column="warning_count"/>
		<result property="memberRegDate" column="member_reg_date"/>
	</resultMap>
	
	<select id="getMemberSelect" parameterType="String" resultMap="memberSelect">
		SELECT 
			member_id 
			,member_pw
			,levelCode
		FROM 
			tb_member
		WHERE
			m_id=#{memberId}
	</select>

</mapper>