<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team1.project.mapper.MemberMapper">

	<resultMap type="Member" id="memberSelect">
		<result property="memberId" column="member_id"/>
		<result property="memberPw" column="member_pw"/>
		<result property="memberName" column="member_name"/>
		<result property="memberBirth" column="member_birth"/>
		<result property="levelCode" column="level_code"/>
		<result property="memberAddress" column="member_address"/>
		<result property="memberTel" column="member_tel"/>
		<result property="memberEmail" column="member_email"/>
		<result property="libraryCode" column="library_code"/>
		<result property="rentCount" column="rent_count"/>
		<result property="reserveCount" column="reserve_count"/>
		<result property="reviewCount" column="review_count"/>
		<result property="warningCount" column="warning_count"/>
		<result property="memberRegDate" column="member_reg_date"/>
	</resultMap>
	
	<!-- 전체회원리스트 -->
	<select id="allListMember" parameterType="Member" resultMap="memberSelect">
		SELECT 
			member_id
			, member_name
			,(
				select
					level_name
				from
					tb_level
				where
					level_code = #{levelCode}
			) as level_code
			, rent_count
			, reserve_count
			, review_count
			, warning_count
		FROM 
			tb_member
	</select>
	
	<!-- 회원수정 -->
	<update id="ModifyMember" parameterType="Member">
		UPDATE 
			tb_member
		SET
			member_pw = #{memberPw}
			,member_name = #{memberName}
			,member_birth = #{memberBirth}
			,member_address = #{memberAddress}
			,member_tel = #{memberTel}
			,member_email = #{memberEmail}
		WHERE 
			member_id = #{memberId}
	</update>
	
	<!-- 회원상세보기 -->
	<select id="DetailMember" parameterType="Member" resultMap="memberSelect">
		SELECT 
			member_id
			,member_pw
			,member_name
			,member_birth
			,member_address
			,member_tel
			,member_email
			,(
				SELECT
					library_name
				FROM 
					tb_library
				WHERE 
					library_code = #{libraryCode}
			)as library_code
		FROM
			tb_member
		WHERE
			member_id = #{memberId}
	</select>
	
	 <!-- 한명회원정보조회 -->
	 <select id="selectgetMember" parameterType="String" resultMap="memberSelect">
	 	SELECT 
	 		member_id
	 		, member_pw
	 		, member_name
	 		, member_birth
	 		, level_code
	 		, member_address
	 		, member_tel
	 		, member_email
	 		, library_code
	 		, rent_count
	 		, reserve_count
	 		, review_count
	 		, warning_count
	 		, member_reg_date
		FROM 
			tb_member
		where
			member_id = #{memberId}
	 </select>
	
	<!-- 회원등록 -->
	<insert id="addMember" parameterType="Member">
		INSERT INTO tb_member
			(member_id
			, member_pw
			, member_name
			, member_birth
			, level_code
			, member_address
			, member_tel
			, member_email
			, library_code
			, rent_count
			, reserve_count
			, review_count
			, warning_count
			, member_reg_date)
		VALUES
			(#{memberId}
			, #{memberPw}
			, #{memberName}
			, #{memberBirth}
			, 6
			, #{memberAddress}
			, #{memberTel}
			, #{memberEmail}
			, #{libraryCode}
			, 0
			, 0
			, 0
			, 0
			, now())
	</insert>


</mapper>