<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="team1.project.mapper.OfficerMapper">
 	
 	<resultMap type="Officer" id="officerResultMap">
 		<result property="officerId" column="officer_id"/>
 		<result property="officerPw" column="officer_pw"/>
 		<result property="officerName" column="officer_name"/>
 		<result property="officerBirth" column="officer_birth"/>
 		<result property="level" column="level_code"/>
 		<result property="library" column="library_code"/>
 		<result property="officerAddress" column="officer_address"/>
 		<result property="officerTel" column="officer_tel"/>
 		<result property="officerEmail" column="officer_email"/>
 		<result property="officerRegDate" column="officer_reg_date"/>
 	</resultMap>	
 	
<!--  	<resultMap type="License" id="LicenseResultMap">
	 	<result property="licenseCode" column="license_code"/>
	 	<result property="licenseIssue" column="license_name"/>
	 	<result property="licenseName" column="license_issue"/>
	 	<result property="licenseOperation" column="license_operation_date"/>
	 	<result property="licenseRegDate" column="license_reg_date"/>
 	</resultMap>
 	
 	<resultMap type="OfficerLicense" id="OfficerLicenseResultMap">
 		<result property="officerLicenseCode" column="officer_license_code"/>
 		<result property="officerLicenseDate" column="officer_license_date"/>
 		<result property="officerLicenseRegDate" column="officer_license_reg_date"/>
 	</resultMap> -->

	<!-- <select id="getMyOffice" parameterType="String" resultType="team1.project.vo.officer">
		SELECT 
			O.officer_id
			,O.officer_pw
			,O.officer_name
			,O.officer_birth
			,O.level_code
			,O.library_code
			,O.officer_address
			,O.officer_tel
			,O.officer_email
			,O.officer_reg_date 
			,L.license_code
			,C.career_name
		FROM 
			tb_officer AS O
			INNER JOIN
			tb_officer_license AS L
			INNER join
			tb_career AS C
			on
			O.officer_id=L.officer_id
			AND 
			O.officer_id=C.officer_id		
	</select> -->

	<select id="getOfficerList" resultMap="officerResultMap">	
		SELECT 
			officer_id 
			,officer_pw 
			,officer_name 
			,officer_birth 
			,level_code 
			,library_code
			,officer_address
			,officer_tel
			,officer_email
			,officer_reg_date
		FROM 
			tb_officer;
	</select>

	<insert id="addOfficer" parameterType="team1.project.vo.Officer">
	  	INSERT INTO tb_officer(
			officer_id
			,officer_pw
			,officer_name
			,officer_birth
			,level_code
			,library_code
			,officer_address
			,officer_tel
			,officer_email
			,officer_reg_date
		)VALUE(
			#{officerId}
			,#{officerPw}
			,#{officerName}
			,#{officerBirth}
			,#{level}
			,#{library}
			,#{officerAddress}
			,#{officerTel}
			,#{officerEmail}
			,NOW()
			);
	  </insert>
  
</mapper>