<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="team1.project.mapper.OfficerMapper">
 	
 	<resultMap type="Officer" id="officerResultMap">
 		<result property="officerId" column="officer_id"/>
 		<result property="officerPw" column="officer_pw"/>
 		<result property="officerName" column="officer_name"/>
 		<result property="officerBirth" column="officer_birth"/>
 		<result property="officerAddress" column="officer_address"/>
 		<result property="officerTel" column="officer_tel"/>
 		<result property="officerEmail" column="officer_email"/>
 		<result property="officerRegDate" column="officer_reg_date"/>
 		<result property="level" column="level_name"/>
 		<result property="library" column="library_name"/>
 		<result property="license" column="license_name"/>
 		<result property="career" column="career_name"/>
 	</resultMap>	

	<select id="getMyOffice" parameterType="String" resultMap="officerResultMap">
		SELECT 
			O.officer_id
			,O.officer_pw
			,O.officer_name
			,O.officer_birth
			,V.level_name
			,B.library_name
			,O.officer_address
			,O.officer_tel
			,O.officer_email
			,O.officer_reg_date 
			,S.license_name
			,C.career_name
		FROM 
			tb_officer AS O
			INNER JOIN
			tb_officer_license AS L
			INNER JOIN 
			tb_career AS C
			INNER JOIN
			tb_license AS S
			INNER JOIN
			tb_level AS V
			INNER JOIN
			tb_library AS B
			on
			O.officer_id=L.officer_id
			AND 
			L.officer_id=C.officer_id
			AND
			L.license_code = S.license_code
			AND
			O.level_code = V.level_code
			AND
			B.library_code = O.library_code
			WHERE
			O.officer_id = #{SID}
	</select>

	<select id="getOfficerList" resultMap="officerResultMap">	
		SELECT 
			o.officer_id 
			,o.officer_pw 
			,o.officer_name 
			,o.officer_birth 
			,v.level_name 
			,l.library_name
			,o.officer_address
			,o.officer_tel
			,o.officer_email
			,o.officer_reg_date
		FROM 
			tb_officer AS o
			INNER JOIN
			tb_library AS l
			INNER JOIN
			tb_level AS v
		ON
		o.library_code = l.library_code
		AND
		o.level_code = v.level_code
	</select>

	<insert id="addOfficer" parameterType="team1.project.vo.Officer">
	  	INSERT INTO tb_officer(
			officer_id
			,officer_pw
			,officer_name
			,officer_birth
			,level_code
			,library_code
			,officer_address
			,officer_tel
			,officer_email
			,officer_reg_date
		)VALUE(
			#{officerId}
			,#{officerPw}
			,#{officerName}
			,#{officerBirth}
			,#{level}
			,#{library}
			,#{officerAddress}
			,#{officerTel}
			,#{officerEmail}
			,NOW()
			);
	  </insert>
  
</mapper>