<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team1.project.mapper.PointStandardMapper">
	<resultMap type="Point" id="PsSelect">
		<result property="psCode" column="point_standard_code"/>
		<result property="psDivision" column="point_standard_division"/>
		<result property="psName" column="point_standard_name"/>
		<result property="psScore" column="point_standard_score"/>
		<result property="psRegDate" column="point_standard_reg_date"/>
		<association property="officer" javaType="Officer">
			<result property="officerId" column="officer_id"/>
		</association>
	</resultMap>
	<insert id="addPs" parameterType="Point">
		<selectKey order="BEFORE" keyProperty="psCode" resultType="String">
			<![CDATA[
			SELECT
				(case 
				when COUNT(*) = 0 then 'point_standard_001'
				when COUNT(*) < 10 then CONCAT('point_standard_00',(max(SUBSTRING(point_standard_code,16))+1))
				when COUNT(*) < 100 then CONCAT('point_standard_0',(max(SUBSTRING(point_standard_code,16))+1))
				when COUNT(*) <  1000 then CONCAT('point_standard_',(max(SUBSTRING(point_standard_code,16))+1))
				ELSE CONCAT('point_standard_',(max(SUBSTRING(point_standard_code,16))+1))
				END) AS point_standard_code
			FROM
				tb_point_standard
				]]>
		</selectKey>
		INSERT INTO tb_point_standard
		(point_standard_code, point_standard_division, point_standard_name, point_standard_score, point_standard_reg_date, officer_id)
		VALUES (#{psCode}, #{psDivision}, #{psName}, #{psScore}, NOW(), #{officer.officerId})
	</insert>
	<select id="getPsList" resultSets="PointStandard" resultMap="PsSelect">
		SELECT *
		FROM tb_point_standard
	</select>
</mapper>