<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team1.project.mapper.RegionMapper">
	<resultMap type="Region" id="regionSelect">
		<result property="regionCode" column="region_code"/>
		<result property="regionMajor" column="region_major"/>
		<result property="regionMinor" column="region_minor"/>
		<result property="regionRegDate" column="region_reg_date"/>
		<association property="officer" javaType="Officer">
			<result property="officerId" column="officer_id"/>
		</association>
	</resultMap>
	
	
	<insert id="addRegion" parameterType="Region">
		<selectKey order="BEFORE" keyProperty="regionCode" resultType="String">
			SELECT
				(case count(*)
		 		 when 0 then 'region_001'
		 		 else CONCAT('\r\nregion_', (max(cast(SUBSTR(r.region_code,10,3) AS DECIMAL))+1))
		 		 END) AS region_code
			FROM
				tb_region AS r
		</selectKey>
		INSERT INTO tb_region
		(region_code, region_major, region_minor, region_reg_date, officer_id)
		VALUES (#{regionCode}, #{regionMajor}, #{regionMinor}, NOW(), #{officer.officerId})
	
	</insert>
	
	<select id="getRegionMajorList" resultSets="Region" resultMap="regionSelect">
		SELECT
			DISTINCT region_major
		FROM tb_region
	</select>
	
	<select id="getRegionList" resultSets="Region" resultMap="regionSelect">
		SELECT *
		FROM tb_region
	</select>

</mapper>