<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="team1.project.mapper.RentMapper">
	
	<resultMap type="Rent" id="rentResultMap">
	<result property="rentCode" column="rent_code"/>
	<result property="bookCode" column="book_code"/>
	<result property="rentDate" column="rent_date"/>
	<result property="rentRegDate" column="rent_reg_date"/>
	<result property="rentReturnDate" column="rent_return_date"/>
	<result property="writer" column="writer_name"/>
	<result property="category" column="category_name"/>
	<result property="publisher" column="publisher_name"/>
		
		<association property="library" javaType="Library">
			<result property="libraryName" column="library_name"/>
		</association>
		<association property="member" javaType="Member">
			<result property="memberId" column="member_id"/>
		</association>				
		<association property="officer" javaType="Officer">
			<result property="officerId" column="officer_id"/>
		</association>	
		<association property="book" javaType="Book">
			<result property="bookName" column="book_name"/>
			<result property="bookSituation" column="book_situation"/>
			<result property="bookLibraryCode" column="book_library_code"/>
		</association>
	</resultMap>
	
	<!-- 대여관리 - 대여리스트 검색 -->
	<select id="OfficeRentListSerch" parameterType="String" resultMap="rentResultMap">
		SELECT
			r.rent_code
			, r.member_id
			, b.book_name
			, b.book_library_code
			, w.writer_name
			, c.category_name
			, p.publisher_name
			, b.book_situation
			, r.rent_date
		FROM
			tb_rent AS r
			INNER JOIN
			tb_book AS b
			INNER JOIN 
			tb_writer AS w
			INNER JOIN
			tb_category AS c
			INNER JOIN
			tb_publisher AS p
		ON  
			r.book_code = b.book_code		
		AND
			b.writer_code = w.writer_code	
		AND
			b.category_code = c.category_code
		AND
			b.publisher_code = p.publisher_code
		AND
			b.book_situation = '대여 중'
		<if test="sv != null and sv neq ''.toString()">
		WHERE
			${sk} like CONCAT ('%',#{sv},'%')
		</if>
		ORDER BY
			r.rent_date			
	</select>
	
	<!-- 대여관리 - 삭제 - 코드검색 -->
	<select id="getRentCode" parameterType="String" resultMap="rentResultMap">
		SELECT
			rent_code
		FROM
			tb_rent
		WHERE
			rent_code = #{rentCode}
	</select>
	
	<!-- 대여관리 - 대여도서리스트 삭제 -->
	<delete id="officeRentDelete" parameterType="String">
		DELETE FROM 
		tb_rent 
		WHERE 
		rent_code=#{rentCode}
	</delete>
	
	
	<!-- 대여관리 - 현재 '대여 중'인 도서리스트 -->
	<select id="officeRentList" resultMap="rentResultMap" parameterType="String">
		SELECT
			r.rent_code
			, r.member_id
			, b.book_name
			, b.book_library_code
			, w.writer_name
			, c.category_name
			, p.publisher_name
			, b.book_situation
			, r.rent_date
		FROM
			tb_rent AS r
			INNER JOIN
			tb_book AS b
			INNER JOIN 
			tb_writer AS w
			INNER JOIN
			tb_category AS c
			INNER JOIN
			tb_publisher AS p
		ON  
			r.book_code = b.book_code		
		AND
			b.writer_code = w.writer_code	
		AND
			b.category_code = c.category_code
		AND
			b.publisher_code = p.publisher_code
		AND
			b.book_situation = '대여 중'
		ORDER BY
			r.rent_date
	</select>

	<!-- 나의 대여 이력 - 검색 -->
	<select id="myRentHistorySearch" parameterType="String" resultMap="rentResultMap">
		SELECT
			r.rent_code
			, l.library_name
			, b.book_name
			, r.rent_date
			, r.rent_return_date
		FROM
			tb_rent AS r
			INNER JOIN
			tb_book AS b
			INNER JOIN 
			tb_library AS l
		ON  
			r.book_code = b.book_code			
		AND
			b.library_code = l.library_code
		AND
			member_id = #{SID}
		<if test="sv != null and sv neq ''.toString()">
		WHERE
			${sk} like CONCAT ('%',#{sv},'%')
		</if>	
	</select>

	<!-- 나의 대여 이력 -->
	<select id="myRentHistoryList" resultMap="rentResultMap" parameterType="String">
		SELECT
			r.rent_code
			, l.library_name
			, b.book_name
			, r.rent_date
			, r.rent_return_date
		FROM
			tb_rent AS r
			INNER JOIN
			tb_book AS b
			INNER JOIN 
			tb_library AS l
		ON  
			r.book_code = b.book_code			
		AND
			b.library_code = l.library_code
		AND
			member_id = #{SID} 		
	</select> 
  
</mapper>