<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/defaultAdmin}">

<th:block layout:fragment="customTitle">
	<title>예산 현황</title>
</th:block>

<th:block layout:fragment="customCss">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
</th:block>

<th:block layout:fragment="customContents">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<h1 class="m-0 text-dark">예산 현황</h1>
			</div><!-- /.container-fluid -->
		</div>
	<!-- /.content-header -->
		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<!-- 예산현황 도서 -->
				<div class="card">
					<div class="card-body">
						<table class="table m-0">
							<thead>
								<tr>
									<th>도서관 이름</th>
									<th>사용목적</th>
									<th>금액</th>
									<th>작성일</th>
									<th>수정</th>
									<th>삭제</th>
							</tr>
							</thead>
						<tbody>
							<tr>
								<td><a>금암</a></td>
								<td><a href="#">도서구입</a></td>
								<td>3000000</td>
								<td>2020-06-04</td>
								<td><a href="#" class="btn btn-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">수정</font></font></a></td>
								<td><a href="#" class="btn btn-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">삭제</font></font></a></td>
							</tr>
						</tbody>
						</table>
					</div>
				<!--/.card -->
			</div>
			<!--/. container-fluid -->	
			</div>
		<!-- /.content -->
		</section>
	<!-- /.content-wrapper -->
	</div>
</th:block>
	<th:block layout:fragment="customFooterScript">
		<!-- OPTIONAL SCRIPTS -->
		<script src="dist/js/demo.js"></script>
		<!-- overlayScrollbars -->
		<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
		<!-- ionicons.com 아이콘 -->
		<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</th:block>

</html>